h1 {
    margin: 0;
    font-size: 2rem;
    text-align: center;
    color: black;
}

body {
    margin: 10px 15%;
    background-color: hsl(150, 68%, 32%);
    color: rgb(214, 236, 13);
    font-family: sans-serif;
    font-size: 1.5rem;
    text-align: justify;
}

p {
    font-weight: bold;
}

h6 {
    clear: both;
    color: rgb(61, 70, 18);
}

img.izquierda {
    float: left;
    margin-right: 20px;
}

img.derecha {
    float: right;
    margin-left: 20px;
}